
.leagueModal {
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
.leagueModalContent {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 30%; 
    text-align: center;
    border-radius: 2%;
}
  
.closeButton {
    float: right;
    font-weight: bold;
    border-radius: 50%;
}
  
.closeButton:hover,
.closeButton:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#errorMessage{
    color: red;
}

#leagueModals{
    margin-left: auto;
    order: 2;
}

#leagueMain{
    display: flex;
}

.leagueModalButton{
    width: 10vw;
    height: 5vh;
    border: none;
    background-color: var(--silver-gray);
}

#joinLeagueButton{
    border-radius: 0% 20% 20% 00%;
}

#createLeagueButton{
    border-radius: 20% 0% 0% 20%;
    
}

.leagueModalButton{
    width: 10vw;
    height: 5vh;
    border-radius: 25%;
    border: none;
    background-color: var(--silver-gray);
}

.leagueModalButton:hover{
    background-color: var(--grass-green);
    color: white;
    /* border: 1px solid black; */
}

#footer{
    position: absolute;
    bottom: 0;
    font-size: small;
}