.loginregister {
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    text-align: center;
    height: 100vh;
    background: white;
    border-radius: 2%;
}

.login {
    display: block;
    width: 30%;
    float: left;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 2px 5px #ccc;
    height: 70%;
    margin:10%
}

.register {
    display: block;
    width: 30%;
    float: right;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 2px 5px #ccc;
    height: 70%;
    margin:10%
}

.logocontainer{
    width: 100%;
    margin-bottom: 5%;
}
#errormessage{
    color: red;

}

